<div id="loading-screen" class="hidden" data-controller="loader" data-loader-target="loadingScreen" data-cable-id="<%= params[:id] %>">
    <div class="processing-loader">
        <span class="loading-text">
            Analysing...
        </span>
        <br><br><br>
        <span class="loading-subtitle">
        </span>
    </div>
</div>
