// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #8D86C9;
$yellow: #F4CB6D;
$orange: #F5672A;
$green: #8FDE6B;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-purple: #341B3B;
$light-yellow: #FEDD92;
