// Specific CSS for your home-page
.background-gradient {
  background: linear-gradient($purple 32.01%, $yellow 65.72%);
  height: 100vh;
  position: relative;
}

.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url(image_path("cover.jpg"));

  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
}

.container-home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.tag-line {
  font-size: 24px;
  padding-bottom: 10%;
}
