.background-gradient {
  background: linear-gradient($purple 32.01%, $yellow 65.72%);
  height: 100vh;
}

.container-new-search {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-weight: 500;
    font-size: 46px;
    line-height: 1.3;
    color: $light-yellow;
    text-shadow: 4px 5px 4px rgba(245, 103, 42, 0.6);
    transform: rotate(-12deg);
    padding: 40px 0 25px 0;
    align-self: center;
  }
  p {
    font-size: 24px;
    padding-bottom: 10%;
  }
}
