<div class="biography">
    <button type="button" data-controller="results" data-results-target="btnCollapse" data-action="click->results#toggleCollapse">Biography</button>

    <div class="collapsible-text" data-results-target="txtCollapse">
        <%= @result["biography"] %>
    </div>
</div>