<% placeholder = @query.any? ? "Type another movie..." : 'Type a movie...' %>
<%= text_field_tag 'movie-input', nil, placeholder: placeholder, autocomplete: 'off' %>

<%= simple_form_for @search, url: searches_path(queries: @query.join('&')) do |f| %>
    <%= f.hidden_field :query, label: false %>
<% end %>

<div id="movie-suggestions"
     data-tmdb-api-key="<%= ENV['TMDB_KEY'] %>">
</div>
