<div class="card-cast">
    <div class="card-cast__name">Julia Roberts</div>
    <div class="card-cast__picture">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Julia_Roberts_2011_Shankbone_3.JPG"
            alt="Julia Roberts"/>
    </div>
</div>