<div class="actor-card-container">
  <div class="actor-cards">
    <% @results.each do |result| %>
      <div class="actor-card-category">
        <img class="actor-card-img" src="https://upload.wikimedia.org/wikipedia/commons/5/54/Julia_Roberts_%2843838880775%29.jpg" alt="Actor's picture">
        <div class="actor-card-title">Julia Roberts</div>
      </div>
    <% end %>
  </div>
</div>
