<div class="movie-card">
<div class="movie-card__poster" >
<img src="https://i.pinimg.com/564x/35/57/25/355725c80289063326d6dc02579dd593--jurassic-park-world-alternative-movie-posters.jpg" alt="Movie name"></div>
<div class="movie-card__title">movie title</div>
</div>