<div class="scroll-container" data-controller="results">
    <%= render 'shared/cards/final_result_card' %>
    <div class="container result-content">
    
        <div class="actor-name" data-results-target="name" data-action="scroll@window->results#fixName">
            <h1>
                Julia Roberts
            </h1>
        </div>


        <div class="actor-details">
            
        </div>
    </div>
</div>