<div class="background-gradient">
  <div class="container container-home-page">
    <%= render 'shared/main_title' %>

    <div>
      <%= render 'shared/forms/movie_input' %>
      <%= render 'shared/forms/image_upload' %>
    </div>

    <p class="tag-line">
      Give us a movie they played in or a picture and we will tell you!
    </p>
  </div>
</div>
