<div class="slider-movie-recs">
    <div id="slider" class="swipe">
        <div class="swipe-wrap">
            <div class="movie-recommendation"><p>Testing</p></div>
            <div class="movie-recommendation"><p>Testing</p></div>
            <div class="movie-recommendation"><p>Testing</p></div>
        </div>
    </div>
</div>