<div id="loading-screen" class="hidden" data-controller="img-upload" data-img-upload-target="loadingScreen">
    <div class="processing-loader">
        <span class="loading-text">
            Analysing...
        </span>
        <br><br><br>
        <span class="loading-subtitle">
        </span>
    </div>
</div>