<% image_url = "https://image.tmdb.org/t/p/w500#{@result["profile_path"]}" %>
<% stock_url = 'https://media.vogue.de/photos/5b5f3ab070225300100efa0a/master/w_2413,c_limit/GettyImages-1407933.jpg' %>

<div class="final-result-card-container">
  <div class="final-result-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(<%= image_url %>);"></div>
</div>