<div class="reco-container">
   <H2>HAVE YOU WATCHED THESE YET?</H2>
      <p>If you liked <%= base_movie[:title] %>, you might also love these movies we hand-picked for you:</p>
  <% recommendations.each do |movie| %>
    <% if movie[:img_path] %>
       <div class="reco-poster"> <img src=<%= "https://image.tmdb.org/t/p/w200/#{movie[:img_path]}" %> >
        <p class="synopsis" hidden> <%= movie[:description] %></p></div>
    <% else %>
        <%= image_tag "placeholder.jpg", alt: "" %>
     <% end %>
  <% end %>
 
</div>
