<div class="container container-new-search">
  <h1>
    WHAT THE HELL<br>
    IS THIS ACTOR'S<br>
    NAME???
  </h1>

  <div>
    <%= render 'shared/forms/movie_input' %>
    <%= render 'shared/forms/image_upload' %>
  </div>

  <p>
    Pick some movies you think your actor was in or upload a picture of an actor whos name you miss - and we will tell you their name!
  </p>
</div>

