<div class="container">
  <% if @query.any? %>
    <!-- if there already has been movie input -->
    <%= render 'shared/movie_cards' %>

    <%= render 'shared/forms/movie_input' %>

    <%= render 'shared/cast_cards' %>

  <% else %>
    <!-- for first time on the searches new page -->
    <%= render 'shared/forms/movie_input' %>
  <% end %>

</div>
