<div class="background-gradient">
  <div class="container container-new-search">
    <%= render 'shared/text/main_title' %>

    <div>
      <%= render 'shared/forms/movie_input' %>
      <%= render 'shared/forms/image_upload' %>
    </div>

    <%= render 'shared/text/subtitle' %>
  </div>
</div>
