<p>Please add another movie</p>

<%= simple_form_for(@search, method: :put, url: second_search_path) do |f| %>
    <%= f.input :query, label: false, placeholder: "Type a movie" %>
    <%= f.submit %>
<% end %>

<%= render "shared/cardcast" %>