.actor-card-container {
  display: flex;
  justify-content: space-around;
}

.actor-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  position: relative;
  width: 100%;
}

.actor-card-img {
  border-radius: 25px;
  border: 2px solid white;
  width: 100%;
}

.actor-card-title {
  position: absolute;
  bottom: 40px;
  left: 12px;
  color: white;
  font-size: 45px;
  text-shadow: 0.02em 0 black, 0 0.02em black;
}

.actor-card-character {
  position: absolute;
  bottom: 6px;
  left: 12px;
  font-size: 36px;
  color: white;
  text-shadow: 0.02em 0 black, 0 0.02em black;
}

.actor-card-category {
  position: relative;
}

@media (max-width: 768px) {
  .actor-card-title {
    font-size: 20px;
  }

  .actor-card-character {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .actor-card-title {
    font-size: 75px;
  }

  .actor-card-character {
    font-size: 60px;
  }
}
