#cast-subtitle-section {
  text-align: center;
  h2 {
    text-shadow: 2px 3px 4px $purple;
    color: $light-gray;
    opacity: 0.9;
    margin: 0 auto;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 400;
  }

  .subheading {
    text-align: left;
     h2 {
      margin: 0;
      text-shadow: 2px 3px 4px $yellow;
    }
  }
}

#cast-section {
  text-align: center;
}

