.final-result-card-container {
  --borderWidth: 20px;
  background: #1d1f20;
  position: relative;
  width: calc(100vw - 40px);
  margin: 20px;
  border-radius: 8px;
}

.final-result-card-container:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.final-result-card {
  background-position: center;
  background-size: cover;
  height: calc(100vh - 40px);
  width: 100%;
  border-radius: 8px;
}

.actor-name {
  color: $light-gray;
  font-weight: bold;
  text-shadow: 0.05em 0.05em black;
  padding-bottom: 45px;
  margin-top: -100px;
  margin-left: 32px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 16px;
}

.actor-details {
  position: relative;
  padding-top: 90px;
}

.actor-name-gradient {
  background-image: linear-gradient($yellow 60%, rgba(255, 255, 255, 0));
  z-index: 3;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
  padding: 24px 32px 0;
}

.slider-movie-recs {
  position: fixed;
  bottom: 36px;
  height: 200px;
  width: 100%;
  background-color: blue;
}
