.final-result-card-container {
  border-radius: 25px;
  border: 3px solid white;
  width: 90%;
  margin: 20px;
}

.final-result-card {
  background-position: center;
  background-size: cover;
  height: 94vh;
  width: 100%;
  border-radius: 25px;
  /* position: fixed;
  top: 0;
  z-index: -1; */
}

.actor-name {
  color: $light-gray;
  font-weight: bold;
  text-shadow: 0.02em 0 black, 0 0.02em black;
  position: absolute;
  bottom: 50px;
  left: 42px;
}

.fixed-name {
  position: fixed;
  top: 24px;
}

.result-content {
  height: 100vh;
  scroll-snap-align: center;
}

.actor-details {
  position: fixed;
  top: 140px;
  z-index: -1;
}
