.footer-home-nav {
  text-align: center;
}

.btn-home {
  display: inline-block;
  color: rgba(52,27,69, 0.8);
  font-size: 36px;
  padding: 16px;
  &:hover {
    cursor: pointer;
    color: #5c024d;
  }
}
