.hidden-image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.icon-img-upload {
  display: inline-block;
  color: #face66;
  font-size: 60px;
  padding: 10px;
  margin-bottom: 20px;
  z-index: -1;
  &:hover {
    cursor: pointer;
    color: #cd20f8;
  }
}

#photo-upload {
  text-align: center;
}
