.hidden-image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.icon-img-upload {
  display: inline-block;
  color: rgb(197, 197, 197);
  font-size: x-large;
  &:hover {
    cursor: pointer;
    color: rgb(70, 70, 70);
  }
}
