.movie-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 1px solid rgb(63, 42, 2);
  width: 100%;
  opacity: 0.6;
  background-color: #ffffff;
  margin-bottom: 36px;
  padding: 2px;
}

.movie-card {
  img {
    width: 45px;
  }
}

.movie-card__title {
  margin-top: 20px;
}
