.reco-container {
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: rgba(52,27,59, 0.9);
  color: $light-gray;
  border-radius: 4px;
  box-shadow: rgba(244,244,244, 0.5) 0 -4px 0 1px,
              rgba(244,244,244, 0.3) 0 -8px 0 2px,
              rgba(244,244,244, 0.2) 0 -12px 0 3px,
              rgba(244,244,244, 0.1) 0 -16px 0 4px,
              rgba(244,244,244, 0.05) 0 -20px 0 5px;
  .img-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .reco-poster {
    width: 31%;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    img {
      width: 100%;
      border-radius: 4px;
    }
  }

  .reco-movie-details {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 300;
    #reco-movie-title {
      font-size: 16px;
      font-weight: 400;
    }
    .movie-rec-year {
      font-size: 14px;
    }
    p {
      margin: 0;
    }
  }

  h2 {
    font-size: 28px;
    color: $light-yellow;
    text-shadow: 2px 3px 4px rgba(245, 103, 42, 0.6);
  }
}
