.reco-container {
  margin-top: 60px;
  box-shadow: rgba(82, 4, 53, 0.4) 5px 5px, rgba(129, 11, 86, 0.3) 10px 10px,
    rgba(80, 4, 52, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(41, 6, 28, 0.05) 25px 25px;
  margin-bottom: 12px;

  img {
    height: 125px;
    border-radius: 4px;
    border: 1px solid white;
    margin-bottom: 6px;
  }
}
